nav{
    height: 5rem;
    width: 100vw;
    background: transparent;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
} 

.nav__toggle-btn{
    display: none;
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: height .3s ease, background-color .3s ease
}
.logo{
    width: 4rem;
}

.nav__links{
    display: flex;
    gap:3.5rem;
}

.nav__links a:hover{
    color: var(--color-secondary);
}
.active-nav{
    position: relative;
}
.active-nav::after{
    content: '';
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    background: var(--color-primary);
    position: absolute;
    left: calc(50% - 0.4rem);
    transform: rotate(45deg);
    margin-top: 0.9rem;
}
.shink{
    background: black;
}
.shink .active-nav::after{
    content: '';
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    background: red;
    position: absolute;
    left: calc(50% - 0.4rem);
    transform: rotate(45deg);
    margin-top: 0.9rem;
}

@media screen and (max-width:1024px) {
    .nav__toggle-btn{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .nav__toggle-btn svg{
        color: var(--color-gray-100);
    }
    .nav__links{
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
    }
    .active-nav,.active-nav::after{
        display: none;
    }
    .nav__links li{
        height: 4rem;
        width: 100%;
        box-shadow: -2rem 2rem 5rem rgba(0,0,0,0.4);
    }
    .nav__links li a{
        background:var(--color-primary);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
    }
    .show__nav{
        display: flex;
    }
    .hide__Nav{
        display: none;
    }
}
@media screen and (max-width:480px) {
    nav{
        height: 3rem;
    }
    .logo{
        width: 1.5rem;
    }
    .h2{
        font-size: 1.3rem;
    }
    .nav__toggle-btn{
        font-size: 1rem;
    }
    .nav__links li{
        height: 3rem;
    }
    .nav__links li a{
        padding-right: 2.5rem;
    }
}